/*Define All Variables */
/* Put your CSS here */
.full_container, html, body {
  height: 100%;
  width: 100%; }

body {
  margin: 0;
  color: #434242;
  font-family: sans-serif !important;
  background: #f3efe0;
  font-size: 16px;
  line-height: 1.64; }

.loading-container {
  height: 100%;
  width: 100%;
  background: url(../images/loading.gif) no-repeat 50%;
  background-color: #122426; }

h2 {
  font-size: 54px;
  text-align: center; }

h3 {
  font-weight: 300;
  font-size: 35px;
  color: #197368;
  text-align: center; }

p {
  margin: 0; }

.vcenter {
  display: inline-block;
  vertical-align: middle; }

.container {
  max-width: 1280px;
  padding: 40px 180px; }

.row {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  padding: 0; }

.background-second {
  background-color: #eadaa6; }

.background-footer {
  background-color: #122426; }

.generic-header-style, #about .profile-name, #about .profile-desc, #about .generic-header {
  float: left;
  width: 100%; }

.award-class {
  width: 100%; }

.site_tab {
  position: fixed;
  height: 50px;
  width: 120px;
  left: 5%;
  top: 10px;
  line-height: 50px;
  color: #f3efe0;
  cursor: pointer;
  text-align: center;
  background-color: #2c303c; }
  .site_tab .site_name {
    font-size: 14px;
    float: left;
    margin: 5px 0 0 45px;
    height: 40px;
    color: #f3efe0;
    line-height: 20px; }

.navbar-default {
  background-color: #2c303c !important;
  border: none !important; }

.navbar {
  position: fixed;
  top: 70px;
  border: 0px;
  background-color: #2c303c !important;
  left: 5%;
  width: 120px;
  z-index: 999; }
  .navbar .nav {
    width: 100%; }
    .navbar .nav li {
      display: block;
      float: none;
      height: 80px; }
      .navbar .nav li a {
        display: block;
        height: 80px;
        text-align: center;
        padding-top: 30px;
        font-weight: 600;
        color: white !important;
        padding-left: 0;
        padding-right: 0;
        background-color: #2c303c !important; }
    .navbar .nav li a:hover {
      color: #cccccc !important; }
    .navbar .nav .active {
      background: #07596b !important;
      color: #FFFFFF !important; }
  .navbar .navbar-collapse {
    padding: 0px;
    max-height: none; }

@media (max-width: 767px) {
  .container {
    padding: 60px 20px;
    min-width: 280px; } }
@media (max-width: 767px) {
  .navbar {
    display: none; }

  .site_tab {
    display: none; } }
#about img {
  width: 100%;
  max-width: 200px;
  height: auto; }
#about .about-header {
  margin: 0 0 50px 0; }
#about .about-content {
  margin-bottom: 50px;
  margin-top: -25px; }
  #about .about-content h3 {
    line-height: 0;
    margin-bottom: 40px; }
#about .profile-name {
  font-size: 40px; }
#about .profile-desc {
  font-size: 25px;
  line-height: 30px;
  margin-bottom: 20px; }
#about .generic-header {
  font-size: 30px; }
#about .project-list {
  line-height: 40px; }
  #about .project-list .site-button {
    float: left;
    height: 40px;
    width: 140px;
    font-size: 13px;
    margin-right: 20px;
    color: #f3efe0;
    cursor: pointer;
    text-align: center;
    background-color: #2c303c; }

#education .education-content {
  margin: 50px 0; }
#education .education-row {
  margin-top: 20px; }
  #education .education-row .education-year {
    padding-top: 8px; }

#skills .skill-content {
  margin: 50px 0; }
#skills .skill-row {
  margin-top: 20px; }

#projects .experience-content {
  margin: 50px 0; }
#projects .experience-row {
  margin-top: 20px; }

#achievements .achievements-row {
  margin: 50px 0; }
#achievements ul {
  margin-left: -25px; }
  #achievements ul li {
    margin-top: 10px; }

#contact .contact-row {
  margin: 50px 0; }
#contact .contact-link {
  float: left;
  width: 100%;
  line-height: 36px; }
#contact .contact-col {
  margin-top: 20px;
  height: 36px;
  color: #ccc !important; }
#contact .contact-col:hover {
  color: white !important; }
#contact .icon {
  float: left;
  height: 36px;
  width: 36px; }
#contact .icon-generic, #contact .icon-phone, #contact .icon-linkedin, #contact .icon-gmail, #contact .icon-github, #contact .icon-twitter, #contact .icon-facebook {
  background-size: 100%; }
#contact .icon-phone {
  background: url(../images/phone.png) no-repeat; }
#contact .icon-linkedin {
  background: url(../images/linkedin.png) no-repeat; }
#contact .icon-gmail {
  background: url(../images/gmail.png) no-repeat; }
#contact .icon-github {
  background: url(../images/github.png) no-repeat; }
#contact .icon-twitter {
  background: url(../images/twitter.png) no-repeat; }
#contact .icon-facebook {
  background: url(../images/facebook.png) no-repeat; }
#contact a {
  text-decoration: inherit; }
